pandas==1.5.3
google_api_python_client==2.86.0
streamlit==1.21.0
plotly==5.14.1
openpyxl==3.1.2
pillow==9.5.0
streamlit-authenticator==0.1.5
matplotlib==3.7.1
asyncio==3.4.3
deta[async]==1.1.0a2
deta
htbuilder
streamlit-elements
wordcloud
scikit-learn==1.4.2
feel-it
statsmodels
streamlit-extras
