pandas==2.2.2
google_api_python_client==2.86.0
streamlit==1.37.1
plotly==5.14.1
openpyxl==3.1.2
pillow==9.5.0
streamlit-authenticator==0.1.5
matplotlib==3.9.2
asyncio==3.4.3
htbuilder==0.6.2
streamlit-elements==0.1.0
wordcloud==1.9.3
scikit-learn==1.5.1
feel-it==1.0.5
statsmodels==0.14.2
#streamlit-extras==0.4.7