pandas==1.5.3
google_api_python_client
streamlit==1.21.0
plotly
openpyxl
pillow
streamlit-authenticator==0.1.5
altair
matplotlib
deta
htbuilder
streamlit-elements
wordcloud
scikit-learn
feel-it
statsmodels
