/* Move block container higher */
div.block-container.css-z5fcl4 {
  padding-top: 0 rem;
  margin-top: -15m;
}

/* Adjustments for the logo image*/

img {
  display: block;
  /*margin-top: 1.5em;*/
}

/* Centering text in each gray box */
div.css-1ht1j8u.e16fv1kl0 {
  text-align: center;
}

/* Third line of Row */
/*div.css-wnm74r.e16fv1kl3 {
  margin-left: 30%;
  margin-right: 20%;
}

/* Row 1 */
div.css-j5r0tf.e1tzin5v1 {
    background-color: rgb(189, 195, 199);
    border: 2px solid rgba(200, 168, 211, 0.6);
    padding: 0.5% 0.5% 0.5% 0.5%;
    border-radius: 25px;
}

/* Hide hamburger menu and footer */
div.css-r698ls.e8zbici2 {
  display: none;
}

footer.css-ipbk5a.egzxvld4 {
  display: none;
}

footer.css-12gp8ed.eknhn3m4 {
  display: none;
}

div.vg-tooltip-element {
  display: none;
}
css-sfupiu egzxvld4{
    display: none;
}
footer {

	visibility: hidden;

}
